.body{
    margin: 0;
    padding: 0;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGbi0mPNaz0lS6dQbr-oMFgFm89PyZ8sXx4Q&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    align-items: center;
}
.header{
    color: #ffffff;
    font-weight: lighter;
}
.container{
    margin: 0px;
    padding: 1px;
    flex-direction: row;
    display: inline-flex;
    float: left;
    align-items: center
}
.column{
    float: left;
    height: 50%;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
.card{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    color: #ffffffff;
    background-color:#424242  ;
    opacity: 0.9;
    box-sizing: border-box;
    box-shadow: solid #ffffff;
}
.iconw{
    height: 100px;
    width: 100px;
}
@media screen and (max-width: 400px){
    .iconw{
        height: 30%;
        width: 30%;
    }
}
.big-temp{
    font: bold;
    font-style: normal;
    font-size: large;
}
.temp{
    font: normal;
    font-style: normal;
    font-size: small;
}
.high-temp{
    color: #f4511e;
}
.low-temp{
    color:#0288d1 ;
}