.body {
  background-image: url("https://unsplash.it/600/400?image=1043");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  margin: 0 auto;
  color: #000000;
  font-weight: lighter;
}
.container {
  margin: 0 auto;
  padding: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container {
  background-color: #000000;
  opacity: 0.7;
  color: #ffffff;
  border-radius: 10px;
}
.wide {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.line {
  width: 100%;
  color: #ffffff;
  height: 2px;
}
.row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.column {
  margin: 0 auto;
  height: 50%;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  margin: 1px;
  padding: 10px;
  color: #ffffffff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: solid #ffffff;
}
.iconw {
  height: 100px;
  width: 100px;
}
@media screen and (max-width: 400px) {
  .iconw {
    height: 30%;
    width: 30%;
  }
}
.big-temp {
  font: bold;
  font-style: normal;
  font-size: large;
  margin-left: 0px;
}
.temp {
  font: normal;
  font-style: normal;
  font-size: small;
}
.high-temp {
  color: #f4511e;
}
.low-temp {
  color: #0288d1;
}

/* #location {
  margin-left: 10px;
}
#date {
  margin: 0;
} */
.icon {
  margin: 0 auto;
}
/* 
.main {
  margin-top: 50px;
}
.weather-panel {
  background-image: url("https://unsplash.it/600/400?image=1043&blur");
  background-size: cover;
  border-radius: 20px;
  box-shadow: 25px 25px 40px 0px rgba(0, 0, 0, 0.33);
  width: 500px;
  height: 600px;
  color: #fff;
  overflow: hidden;
  position: relative;
}
small {
  color: inherit;
  font-size: 50%;
}
ul.forecast > li {
  border-top: 1px solid #fff;
}
.temperature {
  font-size: 2em;
} */
